<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Contador_Final.My.MySettings.Conexion" connectionString="Data Source=LAPTOP-5FFLL852\SQLEXPRESS;Initial Catalog=ContadorFeliz;User ID=gnunez;Password=Gnun2092"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>